<a href="https://colab.research.google.com/github/ApoorvaReddy17/basic_practice/blob/main/Titanic_Dataset_Processing_Data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
# creating Data Frame
import pandas as pd
df=pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [60]:
# number of rows and columns
df.shape

(891, 12)

In [61]:
# Data Frame Describing
df.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Survived
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,2.308642,29.699118,0.523008,0.381594,32.204208,0.383838
std,257.353842,0.836071,14.526497,1.102743,0.806057,49.693429,0.486592
min,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,446.000000,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,668.500000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,891.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [62]:
# Accessing first row
df.iloc[0]

PassengerId                          1
Name           Braund, Mr. Owen Harris
Pclass                               3
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Survived                             0
Name: 0, dtype: object

In [63]:
# selecting three rows
df.iloc[1:4]

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1

In [64]:
# setting name column as index
df1=df.set_index(df['Name'])
df1.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
Name,,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
"Heikkinen, Miss. Laina",3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
"Allen, Mr. William Henry",5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [65]:
# after setting Name as index, accessing first row
df1.loc['Allen, Miss. Elisabeth Walton']

PassengerId                              731
Name           Allen, Miss. Elisabeth Walton
Pclass                                     1
Sex                                   female
Age                                     29.0
SibSp                                      0
Parch                                      0
Ticket                                 24160
Fare                                211.3375
Cabin                                     B5
Embarked                                   S
Survived                                   1
Name: Allen, Miss. Elisabeth Walton, dtype: object

In [66]:
# selecting rows based on condition
df1=df[df['Sex']=='female']
df1.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",3,female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",2,female,14.0,1,0,237736,30.0708,NaN,C,1

In [67]:
# Selecting rows based on multiple conditions
df2=df[(df['Sex']=='female') & (df['Age']>=60)]
df2.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
275,276,"Andrews, Miss. Kornelia Theodosia",1,female,63.0,1,0,13502,77.9583,D7,S,1
366,367,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",1,female,60.0,1,0,110813,75.2500,D37,C,1
483,484,"Turkula, Mrs. (Hedwig)",3,female,63.0,0,0,4134,9.5875,NaN,S,1
829,830,"Stone, Mrs. George Nelson (Martha Evelyn)",1,female,62.0,0,0,113572,80.0000,B28,NaN,1

In [68]:
# Replacing values
df3=df['Sex'].replace('female','Woman')
df3.head()

0     male
1    Woman
2    Woman
3    Woman
4     male
Name: Sex, dtype: object

In [69]:
# replacing values
df4=df['Sex'].replace(['female','male'],['Woman','Man'])
df4.head()

0      Man
1    Woman
2    Woman
3    Woman
4      Man
Name: Sex, dtype: object

In [70]:
df1=df.replace(1,"one")
df1.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,one,"Braund, Mr. Owen Harris",3,male,22.0,one,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",one,female,38.0,one,0,PC 17599,71.2833,C85,C,one
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,one
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",one,female,35.0,one,0,113803,53.1000,C123,S,one
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [71]:
# renaming column names

df1= df.rename(columns={'Pclass':'Passenger Class','Sex':'Gender'})
df1.head()

,PassengerId,Name,Passenger Class,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [72]:
# Finding min, max, mean, sum and count of Age column in DataFrame
print("maximum:",df['Age'].max())
print("minimum:",df['Age'].min())
print("mean:",df['Age'].mean())
print("sum:",df['Age'].sum())
print("count:",df['Age'].count())

maximum: 80.0
minimum: 0.42
mean: 29.69911764705882
sum: 21205.17
count: 714

In [73]:
# count of each column
df.count()

PassengerId    891
Name           891
Pclass         891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
Survived       891
dtype: int64

In [74]:
# unique values in Sex column
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [75]:
# count of each value in sex column
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [76]:
# count of each value in PClass column
df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [77]:
# number of unique values in Pclass column
df['Pclass'].nunique()

3

In [78]:
# checking null values
df.isnull().sum()

PassengerId      0
Name             0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Survived         0
dtype: int64

In [79]:
df[df['Age'].isnull()]

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
5,6,"Moran, Mr. James",3,male,NaN,0,0,330877,8.4583,NaN,Q,0
17,18,"Williams, Mr. Charles Eugene",2,male,NaN,0,0,244373,13.0000,NaN,S,1
19,20,"Masselmani, Mrs. Fatima",3,female,NaN,0,0,2649,7.2250,NaN,C,1
26,27,"Emir, Mr. Farred Chehab",3,male,NaN,0,0,2631,7.2250,NaN,C,0
28,29,"O'Dwyer, Miss. Ellen ""Nellie""",3,female,NaN,0,0,330959,7.8792,NaN,Q,1
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,"Razi, Mr. Raihed",3,male,NaN,0,0,2629,7.2292,NaN,C,0
863,864,"Sage, Miss. Dorothy Edith ""Dolly""",3,female,NaN,8,2,CA. 2343,69.5500,NaN,S,0
868,869,"van Melkebeke, Mr. Philemon",3,male,NaN,0,0,345777,9.5000,NaN,S,0
878,879,"Laleff, Mr. Kristo",3,male,NaN,0,0,349217,7.8958,NaN,S,0
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0

In [80]:
# Dropping the column
df.drop('Age',axis=1)

,PassengerId,Name,Pclass,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,0,0,370376,7.7500,NaN,Q,0

In [81]:
# Dropping the columns
df.drop(['Age','Sex'],axis=1)

,PassengerId,Name,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,0,0,370376,7.7500,NaN,Q,0

In [82]:
# Dropping the column
df.drop(df.columns[1],axis=1)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [83]:
# selecting data frame based on condition

df[df['Sex']!='male']

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",3,female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",2,female,14.0,1,0,237736,30.0708,NaN,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,"Shelley, Mrs. William (Imanita Parrish Hall)",2,female,25.0,0,1,230433,26.0000,NaN,S,1
882,883,"Dahlberg, Miss. Gerda Ulrika",3,female,22.0,0,0,7552,10.5167,NaN,S,0
885,886,"Rice, Mrs. William (Margaret Norton)",3,female,39.0,0,5,382652,29.1250,NaN,Q,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0

In [84]:
# selecting Data Frame Based on condition
df[df['Name']!='Allison, Miss. Helen Loraine']

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [85]:
# selecting dataframe based on condition
df[df.index !=0]

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,"Moran, Mr. James",3,male,NaN,0,0,330877,8.4583,NaN,Q,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [95]:
# Applying groupby
df.groupby("Sex")[['Age','Survived']].mean()

              Age  Survived
Sex
female  27.915709  0.742038
male    30.726645  0.188908

In [88]:
df.groupby('Survived')['Name'].count()

Survived
0    549
1    342
Name: Name, dtype: int64

In [93]:
df.groupby('Sex')['Survived'].count()

Sex
female    314
male      577
Name: Survived, dtype: int64